<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--youtube icon-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  
</head>

<body>
  <header>
    <div class="container-fluid">
      <div class="row p-2">
        <div class="col-2 ps-2 headmenu">
          <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()" class="menu">
              <mat-icon aria-hidden="false" aria-label="Example menu icon">menu</mat-icon>
            </button>
          </div>
          <img src="assets/images/youtube1.svg" class="logo">
          <label class="logotext" matbadge>YouTube</label>
                  
          <!-- <p class="logotext">
            <span matBadge="IN" matBadgeOverlap="flase" matBadgeColor="transparent">YouTube</span>
          </p> -->
        </div>
        <div class="col-7 headsearch">
          <input type="tel" matInput placeholder="Search" class="searchbar">
          <mat-icon aria-hidden="false" aria-label="Example create icon" class="searchicon">search</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example create icon" class="mic">mic</mat-icon>
        </div>
        <div class="col-2 ps-5 headicon">
          <span class="material-icons">
            video_call
          </span>
          <mat-icon aria-hidden="false" aria-label="Example home icon">apps</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="headprofile">person 2</mat-icon>
        </div>
      </div>
    </div>
  </header>

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
      <div class="container my-2">
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon active">home</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text active">Home</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">explore</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Explore</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">bolt</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Shorts</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">subscriptions</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Subscriptions</span>
          </div>
        </div>
      </div>
      <mat-divider class="dividertop1"></mat-divider>
      <div class="container my-2">
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">library_add</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Library</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">history</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">History</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">watch_later</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Watch later</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">thumb_up_off_alt</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Liked Videos</span>
          </div>
        </div>
      </div>
      <mat-divider class="dividertop1"></mat-divider>
      <div class="container my-2">
        <div class="row m-1">
          <div class="col py-2"><span class="side-text" style="opacity: 0.9;"> <strong> SUBSCRIPTIONS</strong> </span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">lyrics</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Music</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">emoji_events</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Sports</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">run_circle_off_alt</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Gaming</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">movies</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Movies</span>
          </div>
        </div>
      </div>
      <mat-divider class="dividertop1"></mat-divider>
      <div class="container my-2">
        <div class="row m-1">
          <div class="col"><span class="side-text"> <strong style="opacity: 0.5;"> MORE FROM YOUTUBE</strong> </span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">lightbulb</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Learning</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">settings</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Settings</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">flag</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Report history</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-3">
            <mat-icon aria-hidden="false" aria-label="Example icon">help_outline</mat-icon>
          </div>
          <div class="col-9">
            <span class="side-text">Help</span>
          </div>
        </div>
      </div>
      <mat-divider class="dividertop1 my-3"></mat-divider>
      <span class="side-textbelow ms-4">About Press Copyright <br>Contact us <br>Creators Advertise <br>Developers
        TermsPrivacyPolicy & SafetyHow YouTube <br> worksTest new features<br>
        © 2022 Google LLC</span>
    </mat-drawer>
    <mat-divider class="dividertop"></mat-divider>
    <div class="category">
      <mat-chip-list class="category-chip" cdkDropList cdkDropListOrientation="horizontal">
        <mat-chip class="category-box" cdkDrag *ngFor="let Category of Categories">
          {{Category.name}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <mat-divider class="dividertop"></mat-divider>
    <div class="container_fluid ms-5">
      <div class="row">
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img8.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
              </p>  
              <p class="cardtextsub">
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img1.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
              </p>  
              <p class="cardtextsub">
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img6.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
              </p>  
              <p class="cardtextsub">
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img4.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="container_fluid ms-5">
      <div class="row">
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img3.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
              </p>  
              <p class="cardtextsub">
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img5.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
              </p>  
              <p class="cardtextsub">
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img7.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
              </p>  
              <p class="cardtextsub">
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img2.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="container_fluid ms-5">
      <div class="row">
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img8.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
              </p>  
              <p class="cardtextsub">
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img1.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
              </p>  
              <p class="cardtextsub">
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img4.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
              </p>  
              <p class="cardtextsub">
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3 py-2">
          <mat-card class="card">
            <img src="assets/images/img6.jpg" class="cardimg">
            <mat-card-content>
              <p class="cardtext">The words nature and natural.. </p>
              <p class="cardtextsub">
                youtube channel
                2.6M views . 3 weeks
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</body>

</html>